
.gauche {
	float: left;
}

.droite {
	float: right;
}

body {
	background-color: white;
}

.formidentifiant {
	display: flex;
	justify-content: center;
	text-align: right;
}

.formtest {
	margin: 1em;
	display: inline-block;
	width: 1080px;
	text-align: right;
}

#titre{
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	position : relative;
}

form{
	margin-top: 20px;
}
.bouttoncarre {
	padding: 15px;
}
 
.btncreercompte {
	margin-left: 48%;
	padding: 20px;
}

.centerprofil {
	margin-left:20%;
	margin-right:20%;
	display: flex;
	justify-content: space-around;
}