@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive;*/

html,body{
	height: 100%;
	z-index: 2;
}
#menu{
	dislay: block;
	height: 60px;
	position: relative;
}

#grandTitre{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
	
}
#ck-box-achat{
	margin-left: 20px;
	font-size: 15px;
}
#ck-box-vente{
	margin-left: 20px;
}
#btn-bg{
	margin-top: 50px;
	margin-left: 30px;
	width: 200px;
	height: 100px;
}
#aside-user{
	text-align: center;
	background-color: #EEF511;
	height: 200px;
	margin-top: 50px;
	padding-top: 30px;
}
#listeEnchere{
	margin-top: 30px;
}




